* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.main-content {
    color: #FFFFFF;
}

.list,
.txt-header,
.brilliant-txt,
.names { 
    font-family: "playfair";
}

.my-work,
.box-date {
    font-family: "montserrat-regular";
}

.header-parent {
    color: #888888;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-header { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    margin-left: 150px;
}

.list,
.txt-header { 
    display: flex;
    gap: 50px;
    font-size: 30px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0.4px;
    text-align: center;
}

.social-header { 
    display: flex;;
    justify-content: center;
}

.logo-header { 
    display: flex;
    gap: 13px;
    margin-left: 30px;
}

.image { 
    display: flex;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.slider-width {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 850px;
}

 .slider::after { 
    content: "";
    width: 220px;
    height: 4px;
    display: block;
    background-color: #D6A091;
    margin-top: 110px;
}

.brilliant-txt { 
    font-size: 50px;
    letter-spacing: -0.72px;
    text-align: center;

}

.my-work { 
    font-size: 10px;
    font-size: 28px;
    letter-spacing: 2.79px;
    text-align: center;
}

.work::after { 
     content: "";
     width: 23px;
     height: 2px;
     display: inline-block;
     background-color:  white;
     margin-bottom: 8px;
     margin-left: 25px;
}

.work::before { 
    content: "";
     width: 23px;
     height: 2px;
     display: inline-block;
     background-color:  white;
     margin-bottom: 8px;
     margin-right: 28px;
}

.main-container { 
    max-width: 1100px;
    height: 100px;
    background-color: #AAAAAA;
    height: 400px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.grid { 
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1100px;
    height: 1000px;
}

.box-date {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
}

.grid-box { 
    background-color: #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: -1.1px;
}

.names {
    font-weight: 100;
    font-size: 50px;
    letter-spacing: -1.1px;
    line-height: 80px;
}

.grid-box-underline::after {
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    background-color: #FFFFFF80;
    margin: 0 auto;
    margin-top: 20px;
}