* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-parent { 
    display: flex;
    justify-content: center;

}

.list-header { 
    display: flex;
    justify-content: center;
}

.list { 
    display: flex;
    gap: 50px;
}

.social-header { 
    display: flex;
    margin-left: 150px;
    justify-content: end;
    margin-left: 50px;
    justify-content: flex-end;
}

.logo-header { 
    display: flex;
    width: 74px;
    height: 74px;
    gap: 8px;
    margin-left: 50px;
    /* margin-left: 150px; */

}

a,.txt-header { 
    text-decoration: none;
    color: #888888;
}

li { 
    list-style: none;
}


.image { 
    display: flex;
    width: 30px;
    height: 30px;
}

.boxs { 
    border: 1px;
    background-color: #AAAAAA;
    width: 1300px;
    height: 400px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: Playfair Display;
}

.brilliant-txt, .my-work { 
    color: #FFFFFF;
}

.brilliant-txt { 
    font-family: Playfair Display;
    font-size: 50px;
    letter-spacing: -0.7200000286102295px;
    text-align: center;
}

.my-work { 
    font-size: 10px;
    font-family: Montserrat;
    font-size: 28px;
    letter-spacing: 2.799999952316284px;
    text-align: center;
    
}

 .work::after { 
     content: "";
     width: 23px;
     height: 2px;
     display: inline-block;
     background-color:  white;
     margin-bottom: 8px;
     margin-left: 25px;
}

.work::before { 
    content: "";
     width: 23px;
     height: 2px;
     display: inline-block;
     background-color:  white;
     margin-bottom: 8px;
     margin-right: 28px;
}

.grid { 
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    gap: 35px;
    padding-top: 200px;
    max-width: 2203px;
    height: 1000px;
    grid-template-areas:
    "maya bryana"
    "laura  ronie";
}

.item { 
    background-color: #AAAAAA;
    color: white;
    display: flex;
    align-items: center;
    min-height: 130px;
    justify-content: center;
    font-size: large;
    flex-direction: column;
}

.below { 
    display: flex;
    display: flex;
    align-items: center;
    min-height: 130px;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    
}

.line::after { 
    content: "";
    width: 23px;
    height: 4px;
    display: inline-block;
    background-color: #FFFFFF80;
    margin-bottom: 8px;
    margin-top: 80px;
}